/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



i span{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.align, .search-bar{
    display: flex;
}

.align
{
    gap: 25px;
}

#search{
    padding: 8px;
    width: 350px;
    border: none;
    background-color: rgb(235, 241, 239);
    border-radius: 20px;
}

.search-bar{
    margin-left: 0;
}

#magnify{
    font-size: 30px;
}

#labyrinth{
    font-size: 48px;
    margin-right: 0;
}

.login,
.book-list {
    margin-left: 10px;
    color: #9e1313;
    font-size: 20px;
}

.login:hover, .book-list:hover {
    color: lightgray;
    cursor: pointer; 
}

/* Navigation styles */
.nav-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: transparent solid 2px; /* Initial border color is transparent */
    transition: border-bottom-color 0.3s, transform 0.3s; 
}

.nav-bar a:hover{
    border-bottom: #f13463 solid 2px;
}

.nav-bar a.active {
    font-weight: bold;
}

/* Intro section styles */
.intro {
    background-color: #0c0a0a;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.intro img {
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
    opacity:  .4;
}

.hero{
    position: absolute;
    top: 60%;
    color: white;
    width: 70%;
    font-size: 20px;
    text-align: justify;
    left: 20%;
}

.intro h2 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 40px;
    border-bottom: #f13463 solid 3px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
}

.intro p {
    margin-bottom: 20px;
}

.intro-buttons{
    display: flex;
    justify-content: space-evenly;
}

.intro-buttons button {
    margin-right: 10px;
    padding: 12px 25px;
    background-color: #f13463;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Review section styles */
.review {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.review h2{
    border-bottom: #f13463 solid 3px;
    width: fit-content;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.review form label {
    display: inline-block;
    margin-bottom: 10px;
}

.review form input[type="text"],
.review form select,
.review form textarea {
    width: 180%;
    padding: 10px;
    margin-bottom: 10px;
}

.review form textarea {
    height: 150px;
}

.review form .recommend {
    margin-top: 10px;
}

.submit{
    display: flex;
    justify-content: center;
}

.submit button{
    padding: 12px 25px;
    background-color: #f13463;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/* Book shelf styles */
.book-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.book {
    margin: 10px;
    padding: 10px;
    border: 1px solid turquoise;
    width: 230px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
    border-radius: 8px;
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.action-buttons button{
    background-color: #f13463;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 5px;
}

.book button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#shelf{
    background-color: white;
}

#book h2{
    border-bottom: #f13463 solid 3px;
    width: fit-content;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
